body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #bd227f;
}

.controls {
    width: 300px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.controls h2 {
    margin-bottom: 20px;
    color: #fff;
}

.control-group {
    margin-bottom: 20px;
}

.control-group button,
.control-group input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #bd227f;
    color: black;
    box-sizing: border-box;
}

.control-group input[type="number"] {
    background-color: #fff;
    color: #000;
    border: 1px solid green;
    box-sizing: border-box;
    padding: 9px;
}

.flex-container {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    border: 1px solid #000;
}

.box {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    border-radius: 5px;
    overflow: hidden; /* Ensure images don't overflow the box */
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the box without distortion */
}

.box-1 { background-color: #83838a; }
.box-2 { background-color: #651d59; }
.box-3 { background-color: #000000; }
